name: Deploy examples to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - uses: bluefireteam/flutter-gh-pages@v7
        with:
          webRenderer: canvaskit
          workingDir: example
          baseHref: /context_plus/
